h1 {
text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}
#name{
  margin-right: 930px;
}

li a {
  display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

div.description{
    font-family: 'playfair display',serif;
    margin-top: 100px;
    margin-right: 700px;
    margin-left:100px;
    font-size: 25px;
}

#outer {
    position: absolute;
    width: 540px;
    height: 340px;
    background-color: silver;
    top: 200px;
    left: 625px;
    border-style: double;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: black;
    border-width: 5px;
    border-style: outset;
    text-shadow: 0.5px 0.5px black;
}
.screen {
    width: 460px;
    height: 260px;
    position: absolute;
    background-color: lightblue;
    left: 25px;
    top: 30px;
    bottom: 30px;
    right: 30px;
    border-width: 15px;
    border-top-style: inset;
    border-top-color: black;
    border-bottom-style: outset;
    border-bottom-color: black;
    border-left-style: inset;
    border-left-color: black;
    border-right-style: outset;
    border-right-color: black;
}
.pass, .pass2 {
    height: 10px;
    position: absolute;
    width: 100px;
    top: 130px;
    left: 180px;
    border-radius: 5px;
    text-shadow: 0.5px 0.5px black;
    border-style: solid;
    border-color: black;
}
#btne2 {
    height: 20px;
    position: absolute;
    width: 40px;
    top: 170px;
    left: 215px;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0.5px 0.5px black;
}
.well1 {
    font-weight: bold;
    color: Black;
    position: absolute;
    font-family: 'playfair display',serif;
    left: 105px;
    text-transform: uppercase;
    top: 50px;
    text-shadow: 0.5px -1px 1px black;
}





