<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>

</head>

<body>
<ul>

    <li><a href="#login">Login</a></li>
    <li><a href="#signup">Sign Up</a></li>
    <li id="name"><a href="#">Andy's ATM</a></li>

</ul>

<h1>The Atm Machine</h1>

<div class="description">
<p>A device that manages an account of money and the user can add
    and remove funds. The User will be able to make multiple accounts
    by signing up. Login and logout of those accounts.
    Make a Deposit/Withdraw when the user is logged in.
    Update their own pin and even delete their own accounts.</p>
</div>
<div id="outer">
    <div class="screen">
        <p class="well1"> Welcome to Andy's bank atm </p>
        <input type="text" class="pass2" maxlength="8">
        <button id="btne2">Submit</button>



</body>
</html>