<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="ISO-8859-1">
  <title>List Users</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />

  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body id="body2">
<ul>
  <li><a th:href="@{/logout}">Logout</a></li>
  <li id="name"><a href="">Andy's ATM</a></li>

</ul>
<div class="container text-center">
  <div>
    <form th:action="@{/logout}" method="post">
      <p>
        Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
      </p>
    </form>
  </div>
  <div>
    <table class="table table-striped table-bordered" id="boxOfUser">
      <thead class="thead-dark">
      <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Balance</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="UserInformation: ${listUsers}">
        <td th:text="${UserInformation.userid}" class="space">UserID</td>
        <td th:text="${UserInformation.firstName}" class="space">First Name</td>
        <td th:text="${UserInformation.lastName}"class="space">Last Name</td>
        <td th:text="${UserInformation.balance}"class="space">Balance</td>
      </tr>
      </tbody>
    </table>
    <form class="floated" method = "get" action = "/depositPage">
      <table>
        <tr>
          <td>
            <input type = "submit" value = "Deposit" id="btn1"/>
          </td>
        </tr>
      </table>
    </form>
    <form class="floated2" method = "get" action = "/withdrawPage">
      <table>
        <tr>
          <td>
            <input type = "submit" value = "Withdraw" id="btn2"/>
          </td>
        </tr>
      </table>
    </form>
    <form class="floated3" method = "get" action = "/detailPage">
      <table>
        <tr>
          <td>
            <input type = "submit" value = "List Users" id="btn3"/>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
</body>
</html>